@using AddonWeb.Data
@inject IUrls urls

@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}

<!-- Main page -->
<section>


    <div class="container">
        <div class="jumbotron">

            <h1 style="color:steelblue">POS SOFTWARE</h1>
            <p style="color:steelblue">Simple to Use | Easy to Implement | Flexible to Customized Solution</p>
            <p>In POS Software, transactions & inventories can be easily maintained; it will show alerts for the items getting out of stock or for the items whose expiry date is near.</p>
            <p>One can compare its current sales from the previous financials or party to party comparison so that they can get better ideas for the betterment of the business.</p>


            <p style="display:block; line-height: 70px; width:100%; text-align:center; margin:0 auto;">
                <button type="submit" class="btn btn-primary">Try for free</button>
                <button type="submit" class="btn btn-primary">WATCH THE VIDEO</button>
            </p>
        </div>
    </div>


    <div class="container">
        <p class="text-center" style="font-size:30px;">The POS system for retail success, from 1 store to 100+.</p><br />
        <p class="text-center" style="font-size:20px;">It works on iPad, Mac & PC. It even works offline.</p>
        <br />
        <p class="center-block">
            <img src="~/images/product/a.jpg" />
        </p>
    </div>
    
    <br />


    <div class="container-fluid" style="background-color:#EAEFF5;padding:60px 0px 80px;">
        <div class="container">

            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2">
                    <h2>Specialized retail billing software to address unique needs</h2>
                </div>
            </div>
            <br />
            </div>

        <div class="container">
            <div class="col-md-8 col-md-offset-2">

                <p style="display:block; line-height: 70px; width:100%; text-align:center; margin:0 auto;">
                    <button type="submit" class="btn btn-sm btn-success" style="width:250px;"><img src="~/images/icon/diamond.png" width="50" />Jewellery</button>
                    <button type="submit" class="btn btn-sm btn-success" style="width:250px;"><img src="~/images/icon/curriculum.png" width="50" />Schools</button>
                    <button type="submit" class="btn btn-sm btn-success" style="width:250px;"><img src="~/images/icon/trolly.png" width="50" />SuperMarket</button>
                    <button type="submit" class="btn btn-sm btn-success" style="width:250px;"><img src="~/images/icon/textiles.jpg" width="50" />Garments</button>
                    <button type="submit" class="btn btn-sm btn-success" style="width:250px;"><img src="~/images/icon/Shoe1.png" width="50" />ShoeMart</button>
                    <button type="submit" class="btn btn-sm btn-success" style="width:250px;"><img src="~/images/icon/pills2.png" width="50" />Pharmacy</button>
                </p>
                </div>
            </div>


                
            <div style="text-align:center;margin-top:50px;">
                <a class="btn btn-default btn-lg text-center">Request for a Call back</a>
            </div>
       
        </div>
  
      <br />
    
    
    <div class="container">
            <div class="col-md-6 col-md-push-6">  
                    <img src="~/images/product/one.png" />  
            </div>

            <div class="col-md-6 col-md-pull-6">
                <br />
                <h2>Integrate online & physical store</h2><br />
                <h4>one tool for common inventory, accounting & more</h4>
                <br />
              <div style="margin:auto;margin-top:20px;font-size:20px;">You do not need extra hands to manage your extra channels of sales. We'll integrate your online business to our POS. View sales orders received in e-commerce site directly from the POS and process deliveries. Sync the inventory and pricing details of items from physical store to online store. Take control of your online business and manage it professionally
              </div>

                <a class="btn btn-default" style="margin-top:20px;">Integrate now</a>

            </div>


     </div>
    
    <br /><br /><br /><br />
    <div class="jumbotron">
        <div class="container">
            
                <div class="container">
                    <p class="text-center" style="font-size:30px;"><strong>Getting started with POS.</strong></p><br />
                    <p class="text-center" style="font-size:20px;">Whether you’d like to get going on your own, a partner to help you in-store or have your own Launch<br /> Specialist, we’re here to help.</p>
               
                </div>
                <br />


            <div class="row">
                    <div class="col-md-6">
                        <p style="display:block; line-height: 70px; width:100%; text-align:center; margin:0 auto;">

                            <button class="btn-default pe-border">


                                <h4 class="text-uppercase">Do it Yourself</h4>
                                <p style="text-align:justify;font-size:15px;">
                                   Get started with easy to follow guides,<br />
                                   wizards,content and support document <br />Help is only an email away.
                                </p>
                                
                          </button>
                        </p>  
                     </div>

               

                <div class="col-md-6">
                    <p style="display:block; line-height: 70px; width:100%; text-align:center; margin:0 auto;">

                        <button class="btn-default pe-border">


                            <h4 class="text-uppercase">Let us help you</h4>
                            <p style="text-align:justify;font-size:15px;">
                                We will get you set up the right way <br />
                                with a dedicated launch specialist that is <br />only a call or a email away.
                           </p>

                        </button>
                    </p>
                </div>

            </div>
                
                      
            <br />
                        <p style="display:block; line-height: 70px; width:100%; text-align:center; margin:0 auto;"><button type="submit" class="btn btn-primary">GET IN TOUCH</button>
                   
            </div>
        </div>



        <!-- Breadcrumb bar -->
        <!-- Single Content -->
        <div class="rst-post-container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="rst-sidebar">

                            <aside>
                                <div class="widget widget_popular">
                                    <h3>Popular Articles</h3>
                                    <form class="rst-search-form rst-search" action="~/shortcodes.html">
                                        <input type="text" name="s" placeholder="Search ...">
                                        <button class="sb" type="submit"><i class="fa fa-search"></i></button>
                                    </form>
                                    <div class="rst-popular-video">
                                        <ol>
                                            <li><a href="article-single.html">Who we are?</a></li>

                                        </ol>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>





                    <div class="col-sm-8">

                        <!-- Single Content -->
                        <div class="rst-single-content">

                            <!-- Question -->
                            <!-- Question -->
                            <!-- Answers -->



                            <div id="respond" class="comment-respond">
                                <h2 id="reply-title" class="comment-reply-title">Add Comment</h2>
                                <form action="~/shortcodes.html" id="commentform" class="comment-form" novalidate="novalidate">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <input type="text" placeholder="Name" class="text required" id="comment-author" name="comment-author" aria-required="true">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="email" placeholder="Email" class="text required email" id="comment-email" name="comment-email" aria-required="true">
                                        </div>
                                        <div class="col-sm-12">
                                            <textarea placeholder="Message" id="comment-message" name="comment-message" cols="45" rows="8"></textarea>
                                        </div>
                                        <div class="col-sm-12">
                                            <input type="submit" value="Send" class="btn">
                                        </div>
                                    </div>
                                </form>
                            </div>



                            <!-- Answers -->
                            <!-- Comments -->
                            <!-- Answers -->
                            <!-- Comments -->
                            <!-- Comments -->

                        </div>
                        <!-- Single Content -->

                    </div>
                </div>
            </div>
        </div>
        <!-- Single Content -->
        <!-- Social bar -->
        <div class="rst-socials-bar">
            <div class="rst-social-item">
                <a href="https://www.facebook.com/addontechnologies"><i class="fa fa-facebook"></i></a>
            </div>
            <div class="rst-social-item">
                <a href="#"><i class="fa fa-twitter"></i></a>
            </div>
            <div class="rst-social-item">
                <a href="https://plus.google.com/+addonTechnologiesVellore"><i class="fa fa-google-plus"></i></a>
            </div>

            <div class="rst-social-item">
                <a href="https://www.linkedin.com/company/addon-technologies"><i class="fa fa-linkedin"></i></a>
            </div>

            <div class="rst-social-item">
                <a href="https://in.pinterest.com/addontech"><i class="fa fa-pinterest"></i></a>
            </div>
            <div class="rst-social-item">
                <a href="#"><i class="fa fa-instagram"></i></a>
            </div>

            <div class="clear"></div>
        </div>

        <!-- Social bar -->

</section>
<!-- Main page -->
