
@{
    Layout = "_Layout";
    ViewData["Title"] = "Software";
}

	

		
		
			
			

			
			@section BannerS
                {  				
				<!-- Banner content -->
				<div class="rst-banner-content">
					<div class="container">
						<div class="row">
							<div class="col-sm-6">
								<div class="text-left">
									<h5>Make your Support</h5>	
									<h1>Knowledge Base</h1>
								</div>
							</div>
							<div class="col-sm-6">
								<form action="shortcodes.html" class="rst-search-form rst-search">
									<input type="text" placeholder="Search ..."  name="s">
									<button type="submit"  class="sb"><i class="fa fa-long-arrow-right"></i></button>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- Banner content -->
				}
			
			

		<!-- Header -->
		
		<!-- Main page -->
		<section>
			
			<!-- Breadcrumb bar -->
			<div class="rst-breadcrumb-bar">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-lg-6">
							<p><b>5+</b> Products</p>
						</div>
						<div class="col-sm-12 col-lg-6">
							<ul class="breadcrumb">
								<li>
									<a href="index.html">Home</a>	
								</li>
								<li><span>Products</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- Breadcrumb bar -->
			
			<!-- Single Content -->
			<div class="rst-post-container">
				<div class="container">
					
					<!-- Products -->
					<div role="tabpanel" class="rst-products-page-tabs">
						<!-- Nav tabs -->
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="#tabs1-1" role="tab" data-toggle="tab">Applications</a></li>
							<!--<li role="presentation"><a href="#tabs1-2" role="tab" data-toggle="tab">Custom Products</a></li>
							<li role="presentation"><a href="#tabs1-3" role="tab" data-toggle="tab">Customers</a></li>-->
						</ul>
						<!-- Tab panes -->
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane fade in active" id="tabs1-1">
								<div class="row">
									<div class="col-sm-4 col-xs-6">
										<div class="rst-product-box">
											<div class="rst-box-image">
												<img src="http://addon.cc/images/product/ReadyMadeShowRoom.jpg" alt="" />
												<div class="rst-box-overlay ">
													<a class="btn btn-primary" href="#">More Detail</a>
													<a class="btn btn-success" href="#">Buy Now</a>
												</div>
											</div>
											<div class="rst-box-data">
												<h4><a href="product-single.html">ReadyMades ShowRoom</a></h4>
												<div class="rst-box-metadata">
													<div class="rst-meta"><span>1 articles</span></div>
													<div class="rst-meta"><span>Detail</span></div>
													<div class="clear"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4 col-xs-6">
										<div class="rst-product-box">
											<div class="rst-box-image">
												<img src="~/images/product/POS-GeneralStore.jpg" alt="General Store" />
												<div class="rst-box-overlay ">
													<a class="btn btn-primary" href="#">More Detail</a>
													<a class="btn btn-success" href="#">Buy Now</a>
												</div>
											</div>
											<div class="rst-box-data">
												<h4><a href="product-single.html">General Store</a></h4>
												<div class="rst-box-metadata">
													<div class="rst-meta"><span>2 articles</span></div>
													<div class="rst-meta"><span>63+ Customers</span></div>
													<div class="clear"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4 col-xs-6">
										<div class="rst-product-box">
											<div class="rst-box-image">
												<img src="~/images/product/Pawnbroker-Shop.jpg" alt="" />
												<div class="rst-box-overlay ">
													<a class="btn btn-primary" href="~/Software/Pawn-Broker">More Detail</a>
													<a class="btn btn-success" href="#">Buy Now</a>
												</div>
											</div>
											<div class="rst-box-data">
												<h4><a href="product-single.html">PawnBroker</a></h4>
												<div class="rst-box-metadata">
													<div class="rst-meta"><span>1 articles</span></div>
													<div class="rst-meta"><span>113+ Customers</span></div>
													<div class="clear"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4 col-xs-6">
										<div class="rst-product-box">
											<div class="rst-box-image">
												<img src="http://placehold.it/370x450" alt="" />
												<div class="rst-box-overlay ">
													<a class="btn btn-primary" href="#">More Detail</a>
													<a class="btn btn-success" href="#">Buy Now</a>
												</div>
											</div>
											<div class="rst-box-data">
												<h4><a href="product-single.html">Jewelery</a></h4>
												<div class="rst-box-metadata">
													<div class="rst-meta"><span>3 articles</span></div>
													<div class="rst-meta"><span>89+ Customers</span></div>
													<div class="clear"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4 col-xs-6">
										<div class="rst-product-box">
											<div class="rst-box-image">
												<img src="http://placehold.it/370x450" alt="" />
												<div class="rst-box-overlay ">
													<a class="btn btn-primary" href="#">More Detail</a>
													<a class="btn btn-success" href="#">Buy Now</a>
												</div>
											</div>
											<div class="rst-box-data">
												<h4><a href="product-single.html">SuperMarket</a></h4>
												<div class="rst-box-metadata">
													<div class="rst-meta"><span>20 articles</span></div>
													<div class="rst-meta"><span>web design</span></div>
													<div class="clear"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4 col-xs-6">
										<div class="rst-product-box">
											<div class="rst-box-image">
												<img src="http://placehold.it/370x450" alt="" />
												<div class="rst-box-overlay ">
													<a class="btn btn-primary" href="#">start support</a>
													<a class="btn btn-success" href="#">live chat</a>
												</div>
											</div>
											<div class="rst-box-data">
												<h4><a href="product-single.html">Run road</a></h4>
												<div class="rst-box-metadata">
													<div class="rst-meta"><span>20 articles</span></div>
													<div class="rst-meta"><span>web design</span></div>
													<div class="clear"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="text-center">
									<a class="rst-loadmore" href="#">
										<i class="fa fa-refresh"></i> 
										load more
									</a>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane fade" id="tabs1-2">
								<div class="row">
									<div class="col-sm-4 col-xs-6">
										<div class="rst-product-box">
											<div class="rst-box-image">
												<img src="http://placehold.it/370x450" alt="" />
												<div class="rst-box-overlay ">
													<a class="btn btn-primary" href="#">start support</a>
													<a class="btn btn-success" href="#">live chat</a>
												</div>
											</div>
											<div class="rst-box-data">
												<h4><a href="product-single.html">Run road</a></h4>
												<div class="rst-box-metadata">
													<div class="rst-meta"><span>20 articles</span></div>
													<div class="rst-meta"><span>web design</span></div>
													<div class="clear"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4 col-xs-6">
										<div class="rst-product-box">
											<div class="rst-box-image">
												<img src="http://placehold.it/370x450" alt="" />
												<div class="rst-box-overlay ">
													<a class="btn btn-primary" href="#">start support</a>
													<a class="btn btn-success" href="#">live chat</a>
												</div>
											</div>
											<div class="rst-box-data">
												<h4><a href="product-single.html">Run road</a></h4>
												<div class="rst-box-metadata">
													<div class="rst-meta"><span>20 articles</span></div>
													<div class="rst-meta"><span>web design</span></div>
													<div class="clear"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4 col-xs-6">
										<div class="rst-product-box">
											<div class="rst-box-image">
												<img src="http://placehold.it/370x450" alt="" />
												<div class="rst-box-overlay ">
													<a class="btn btn-primary" href="#">start support</a>
													<a class="btn btn-success" href="#">live chat</a>
												</div>
											</div>
											<div class="rst-box-data">
												<h4><a href="product-single.html">Run road</a></h4>
												<div class="rst-box-metadata">
													<div class="rst-meta"><span>20 articles</span></div>
													<div class="rst-meta"><span>web design</span></div>
													<div class="clear"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4 col-xs-6">
										<div class="rst-product-box">
											<div class="rst-box-image">
												<img src="http://placehold.it/370x450" alt="" />
												<div class="rst-box-overlay ">
													<a class="btn btn-primary" href="#">start support</a>
													<a class="btn btn-success" href="#">live chat</a>
												</div>
											</div>
											<div class="rst-box-data">
												<h4><a href="product-single.html">Run road</a></h4>
												<div class="rst-box-metadata">
													<div class="rst-meta"><span>20 articles</span></div>
													<div class="rst-meta"><span>web design</span></div>
													<div class="clear"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4 col-xs-6">
										<div class="rst-product-box">
											<div class="rst-box-image">
												<img src="http://placehold.it/370x450" alt="" />
												<div class="rst-box-overlay ">
													<a class="btn btn-primary" href="#">start support</a>
													<a class="btn btn-success" href="#">live chat</a>
												</div>
											</div>
											<div class="rst-box-data">
												<h4><a href="product-single.html">Run road</a></h4>
												<div class="rst-box-metadata">
													<div class="rst-meta"><span>20 articles</span></div>
													<div class="rst-meta"><span>web design</span></div>
													<div class="clear"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4 col-xs-6">
										<div class="rst-product-box">
											<div class="rst-box-image">
												<img src="http://placehold.it/370x450" alt="" />
												<div class="rst-box-overlay ">
													<a class="btn btn-primary" href="#">start support</a>
													<a class="btn btn-success" href="#">live chat</a>
												</div>
											</div>
											<div class="rst-box-data">
												<h4><a href="product-single.html">Run road</a></h4>
												<div class="rst-box-metadata">
													<div class="rst-meta"><span>20 articles</span></div>
													<div class="rst-meta"><span>web design</span></div>
													<div class="clear"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="text-center">
									<a class="rst-loadmore" href="#"><i class="pe-7s-refresh-2"></i> load more</a>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane fade" id="tabs1-3">
								<div class="row">
									<div class="col-sm-4 col-xs-6">
										<div class="rst-product-box">
											<div class="rst-box-image">
												<img src="http://placehold.it/370x450" alt="" />
												<div class="rst-box-overlay ">
													<a class="btn btn-primary" href="#">start support</a>
													<a class="btn btn-success" href="#">live chat</a>
												</div>
											</div>
											<div class="rst-box-data">
												<h4><a href="product-single.html">Run road</a></h4>
												<div class="rst-box-metadata">
													<div class="rst-meta"><span>20 articles</span></div>
													<div class="rst-meta"><span>web design</span></div>
													<div class="clear"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4 col-xs-6">
										<div class="rst-product-box">
											<div class="rst-box-image">
												<img src="http://placehold.it/370x450" alt="" />
												<div class="rst-box-overlay ">
													<a class="btn btn-primary" href="#">start support</a>
													<a class="btn btn-success" href="#">live chat</a>
												</div>
											</div>
											<div class="rst-box-data">
												<h4><a href="product-single.html">Run road</a></h4>
												<div class="rst-box-metadata">
													<div class="rst-meta"><span>20 articles</span></div>
													<div class="rst-meta"><span>web design</span></div>
													<div class="clear"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4 col-xs-6">
										<div class="rst-product-box">
											<div class="rst-box-image">
												<img src="http://placehold.it/370x450" alt="" />
												<div class="rst-box-overlay ">
													<a class="btn btn-primary" href="#">start support</a>
													<a class="btn btn-success" href="#">live chat</a>
												</div>
											</div>
											<div class="rst-box-data">
												<h4><a href="product-single.html">Run road</a></h4>
												<div class="rst-box-metadata">
													<div class="rst-meta"><span>20 articles</span></div>
													<div class="rst-meta"><span>web design</span></div>
													<div class="clear"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4 col-xs-6">
										<div class="rst-product-box">
											<div class="rst-box-image">
												<img src="http://placehold.it/370x450" alt="" />
												<div class="rst-box-overlay ">
													<a class="btn btn-primary" href="#">start support</a>
													<a class="btn btn-success" href="#">live chat</a>
												</div>
											</div>
											<div class="rst-box-data">
												<h4><a href="product-single.html">Run road</a></h4>
												<div class="rst-box-metadata">
													<div class="rst-meta"><span>20 articles</span></div>
													<div class="rst-meta"><span>web design</span></div>
													<div class="clear"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4 col-xs-6">
										<div class="rst-product-box">
											<div class="rst-box-image">
												<img src="http://placehold.it/370x450" alt="" />
												<div class="rst-box-overlay ">
													<a class="btn btn-primary" href="#">start support</a>
													<a class="btn btn-success" href="#">live chat</a>
												</div>
											</div>
											<div class="rst-box-data">
												<h4><a href="product-single.html">Run road</a></h4>
												<div class="rst-box-metadata">
													<div class="rst-meta"><span>20 articles</span></div>
													<div class="rst-meta"><span>web design</span></div>
													<div class="clear"></div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-4 col-xs-6">
										<div class="rst-product-box">
											<div class="rst-box-image">
												<img src="http://placehold.it/370x450" alt="" />
												<div class="rst-box-overlay ">
													<a class="btn btn-primary" href="#">start support</a>
													<a class="btn btn-success" href="#">live chat</a>
												</div>
											</div>
											<div class="rst-box-data">
												<h4><a href="product-single.html">Run road</a></h4>
												<div class="rst-box-metadata">
													<div class="rst-meta"><span>20 articles</span></div>
													<div class="rst-meta"><span>web design</span></div>
													<div class="clear"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="text-center">
									<a class="rst-loadmore" href="#"><i class="pe-7s-refresh-2"></i> load more</a>
								</div>
							</div>
						</div>
					</div>
					<!-- Products -->
					
					
				</div>
			</div>
			<!-- Single Content -->
			
			<!-- Social bar -->
			<div class="rst-socials-bar">
				<div class="rst-social-item">
					<a href="#"><i class="fa fa-facebook"></i></a>	
				</div>
				<div class="rst-social-item">
					<a href="#"><i class="fa fa-twitter"></i></a>	
				</div>
				<div class="rst-social-item">
					<a href="#"><i class="fa fa-dribbble"></i></a>	
				</div>
				<div class="rst-social-item">
					<a href="#"><i class="fa fa-instagram"></i></a>	
				</div>
				<div class="rst-social-item">
					<a href="#"><i class="fa fa-behance"></i></a>	
				</div>
				<div class="clear"></div>
			</div>
			<!-- Social bar -->
			
		</section>
		<!-- Main page -->
		
	

  </body>
</html>