@{
    Layout = "_Layout";
    ViewData["Title"] = "About";
}

		
		
		
	
@section BannerS
                {

    
				
				<!-- Banner content -->
				<div class="rst-banner-content">
					<div class="container">
						<div class="row">
							<div class="col-sm-12 text-left">
								<div class="text-left">
									<h5>Find your own question right now</h5>	
									<h1>Customers Support</h1>
								</div>
								<form action="shortcodes.html" class="rst-search-form rst-search">
									<div class="rst-si">
										<input type="text" placeholder="Search ..."  name="s">
										<span class="rst-artinbase"><b>5+</b> Product</span>
										<i class="fa fa-search rst-search-icon"></i>
										<button type="submit"  class="sb"><i class="fa fa-long-arrow-right"></i></button>
									</div>
									<span>OR</span>
									<a href="prices.html" class="btn btn-lg btn-primary">Select product</a>
								</form>
							</div>
						</div>
					</div>
					
				</div>
				<!-- Banner content -->
    }
	
		
		<!-- Main page -->
		<section>
			
			<!-- Who we are -->
			<div id="rst-whoweare">
				<div class="container">
					<div class="rst-group-title text-center">
						<span>About</span>
						<h3>who we are</h3>
						<p>addon technologies is indian firm, developing business application using various technologies like C#,WPF,ADO .Net, MVC etc., and focusing on Business Product/SAAS.  We are a one of Microsoft BizSpark partner</p>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="rst-box-info">
								<h4>Powerful product</h4>
								<p>
									"Faster, cheaper, better". That's been the mantra of business product. We continously upgrade the system to Latest standard
								</p>
								<a class="fancybox-media control-video" href="https://www.youtube.com/embed/92Ql2k-yAFk">
									<i class="fa fa-play"></i> <span>Watch the video</span>
								</a>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="rst-box-info">
								<h4>Our mission</h4>
								<p>
									addon Technologies provides exciting, game-changing software products to clients around the India.  
									We believe real innovation stems from implementing relevant high tech solutions to actual business problems. 
									We aspire to developing employees who are seen as tech industry thought leaders and who produce leading edge technology. 
								</p>
								<a class="fancybox-media control-video" href="https://player.vimeo.com/video/49614838"><i class="fa fa-play"></i> <span>Watch the video</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Who we are -->
			
			<!-- What we have -->
			<div id="rst-whatwehave">
				<div class="container">
					<div class="rst-group-title text-center">
						<span>Services</span>
						<h3>what we have</h3>
						<p>Software product for Pawnbroker, School, SuperMarket, Jewellery, Accounts & Textile & ReadyMade Showroom etc.,</p>
					</div>
					<div class="container">
						<div class="owl-carousel rst-whatwehave-owl">
							<div class="row">
								<div class="col-sm-4">
									<div class="rst-wehave">
										<i class="pe-7s-smile"></i>
										<h5>Buy today</h5>
										<p>Duis egestas diam odio laoreet dolor consequat vestibulum ante ipsum primisfaucibus orci luctus ultrices posuere cubilia nullam ultrices ultrices felis maximus elementum sed aliquam. </p>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="rst-wehave">
										<i class="pe-7s-phone"></i>
										<h5>Mobile chat</h5>
										<p>Duis egestas diam odio laoreet dolor consequat vestibulum ante ipsum primisfaucibus orci luctus ultrices posuere cubilia nullam ultrices ultrices felis maximus elementum sed aliquam. </p>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="rst-wehave">
										<i class="pe-7s-comment"></i>
										<h5>24 Support</h5>
										<p>Duis egestas diam odio laoreet dolor consequat vestibulum ante ipsum primisfaucibus orci luctus ultrices posuere cubilia nullam ultrices ultrices felis maximus elementum sed aliquam. </p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<div class="rst-wehave">
										<i class="pe-7s-smile"></i>
										<h5>start today</h5>
										<p>Duis egestas diam odio laoreet dolor consequat vestibulum ante ipsum primisfaucibus orci luctus ultrices posuere cubilia nullam ultrices ultrices felis maximus elementum sed aliquam. </p>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="rst-wehave">
										<i class="pe-7s-phone"></i>
										<h5>Mobile chat</h5>
										<p>Duis egestas diam odio laoreet dolor consequat vestibulum ante ipsum primisfaucibus orci luctus ultrices posuere cubilia nullam ultrices ultrices felis maximus elementum sed aliquam. </p>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="rst-wehave">
										<i class="pe-7s-comment"></i>
										<h5>24 Support</h5>
										<p>Duis egestas diam odio laoreet dolor consequat vestibulum ante ipsum primisfaucibus orci luctus ultrices posuere cubilia nullam ultrices ultrices felis maximus elementum sed aliquam. </p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<div class="rst-wehave">
										<i class="pe-7s-smile"></i>
										<h5>start today</h5>
										<p>Duis egestas diam odio laoreet dolor consequat vestibulum ante ipsum primisfaucibus orci luctus ultrices posuere cubilia nullam ultrices ultrices felis maximus elementum sed aliquam. </p>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="rst-wehave">
										<i class="pe-7s-phone"></i>
										<h5>Mobile chat</h5>
										<p>Duis egestas diam odio laoreet dolor consequat vestibulum ante ipsum primisfaucibus orci luctus ultrices posuere cubilia nullam ultrices ultrices felis maximus elementum sed aliquam. </p>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="rst-wehave">
										<i class="pe-7s-comment"></i>
										<h5>24 Support</h5>
										<p>Duis egestas diam odio laoreet dolor consequat vestibulum ante ipsum primisfaucibus orci luctus ultrices posuere cubilia nullam ultrices ultrices felis maximus elementum sed aliquam. </p>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			<!-- What we have -->
			
			<!-- The team -->
			<div id="rst-theteam">
				<div class="container">
					<div class="rst-group-title text-center">
						<span>the team</span>
						<h3>Powerful Team</h3>
						<p>addon Technologies employees are passionate, creative, hard-working, unique, intelligent, and fun. They want to solve problems, collaborate with each other, advance in their careers, deliver great products, make a difference, and have fun while they’re doing it</p>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="rst-theteam-img active" data-img="img1" >
								<img src="~/images/Tamilselvan510x675.jpg" alt="" />
								<div class="rst-theteam-socials">
									<ul>
										<li><a href="http://www.facebook.com/tamilselvan.addon" target="_blank"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li>
										<li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="rst-theteam-img" data-img="img2" >
								<img src="~/images/Sasikumar510x675.jpg" alt="" />
								<div class="rst-theteam-socials">
									<ul>
										<li><a href="https://www.facebook.com/Sasikumar.addon" target="_blank"><i class="fa fa-facebook"></i></a></li>
										<li><a href="https://twitter.com/sasidx88" target="_blank"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li>
										<li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="rst-theteam-img" data-img="img3" >
								<img src="~/images/Dhilip510x675.jpg" alt="" />
								<div class="rst-theteam-socials">
									<ul>
										<li><a href="https://www.facebook.com/dhilip.addon" target="_blank"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li>
										<li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
									</ul>
								</div>
							</div>

							<div class="rst-theteam-img" data-img="img4" >
								<img src="~/images/Karthik510x675.jpg" alt="" />
								<div class="rst-theteam-socials">
									<ul>
										<li><a href="https://www.facebook.com/karthi.addon" target="_blank"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li>
										<li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
									</ul>
								</div>
							</div>
                            <div class="rst-theteam-img" data-img="img5">
                                <img src="" alt="" />
                                <div class="rst-theteam-socials">
                                    <ul>
                                        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
						</div>
						<div class="col-sm-6">
							<div role="tabpanel" class="rst-theteam-select">
								<!-- Nav tabs -->
								<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" class="active"><a href="#tabs1-1" role="tab" data-toggle="tab" data-img="img1" ><img src="~/images/Tamilselvan299x299.jpg" alt="" /></a></li>
									<li role="presentation"><a href="#tabs1-2" role="tab" data-toggle="tab" data-img="img2" ><img src="~/images/SasiKumar299x299.jpg" alt="" /></a></li>
									<li role="presentation"><a href="#tabs1-3" role="tab" data-toggle="tab" data-img="img3" ><img src="~/images/Dhilip299x299.jpg" alt="" /></a></li>
									<li role="presentation"><a href="#tabs1-4" role="tab" data-toggle="tab" data-img="img4" ><img src="~/images/Karthik299x299.jpg" alt="" /></a></li>
                                    <li role="presentation"><a href="#tabs1-5" role="tab" data-toggle="tab" data-img="img5"><img src="" alt="" /></a></li>
								</ul>
								<!-- Tab panes -->
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane fade in active" id="tabs1-1">
										<span>Senior Developer</span>
										<h4>TAMIL SELVAN</h4>
										<p> 3+ Year in Wpf Development , 1+ Year in ASP MVC, 3+ Year in Software Training make him more powerful designing, Developing Application</p>
										<div class="rst-theteam-skill">
											<p>web</p>
											<div class="progress">
												<div style="width: 100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" role="progressbar" class="progress-bar progress-bar-success">
													<span class="sr-only">40% Complete (success)</span>
												</div>
											</div>
											<p>development</p>
											<div class="progress">
												<div style="width: 77%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="77" role="progressbar" class="progress-bar progress-bar-success">
													<span class="sr-only">40% Complete (success)</span>
												</div>
											</div>
											<p>optimization</p>
											<div class="progress">
												<div style="width: 80%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar" class="progress-bar progress-bar-success">
													<span class="sr-only">40% Complete (success)</span>
												</div>
											</div>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane fade" id="tabs1-2">
										<span>Senior Software Consultant</span>
										<h4>Sasi Kumar</h4>
										<p> 3+ Years Desktop Application consultant, 1+ Year as Testing, 2+ Web Consultant</p>
										<div class="rst-theteam-skill">
											<p>Understanding</p>
											<div class="progress wow animated fadeIn">
												<div style="width: 80%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="99" role="progressbar" class="progress-bar progress-bar-success">
													<span class="sr-only">40% Complete (success)</span>
												</div>
											</div>
											<p>Client Rating</p>
											<div class="progress">
												<div style="width: 77%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="87" role="progressbar" class="progress-bar progress-bar-success">
													<span class="sr-only">40% Complete (success)</span>
												</div>
											</div>
											<p>optimization</p>
											<div class="progress">
												<div style="width: 80%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="92" role="progressbar" class="progress-bar progress-bar-success">
													<span class="sr-only">40% Complete (success)</span>
												</div>
											</div>
										</div>
									</div>
									<div role="tabpanel" class="tab-pane fade" id="tabs1-3">
										<span>Software Developer & Consultant</span>
										<h4>Dhilip Kumar</h4>
										<p>Duis egestas diam odio laoreet dolor consequat in vestibulum ante ipsum primis in faucibus orci luctus ultrices posuere cubilia nullam ultrices ultrices felis maximus est elementum sed aliquam quis ipsum sit amet dui porttitor. iaculis phasellus tincidunt finibus magna, non cursus turpis ornare. </p>
										<div class="rst-theteam-skill">
											<p>web</p>
											<div class="progress">
												<div style="width: 97%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="97" role="progressbar" class="progress-bar progress-bar-success">
													<span class="sr-only">40% Complete (success)</span>
												</div>
											</div>
											<p>development</p>
											<div class="progress">
												<div style="width: 95%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="95" role="progressbar" class="progress-bar progress-bar-success">
													<span class="sr-only">40% Complete (success)</span>
												</div>
											</div>
											<p>optimization</p>
											<div class="progress">
												<div style="width: 85%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="85" role="progressbar" class="progress-bar progress-bar-success">
													<span class="sr-only">40% Complete (success)</span>
												</div>
											</div>
										</div>
									</div>
                                    <div role="tabpanel" class="tab-pane fade" id="tabs1-4">
                                        <span>Junior Developer</span>
                                        <h4>Karthik</h4>
                                        <p>Duis egestas diam odio laoreet dolor consequat in vestibulum ante ipsum primis in faucibus orci luctus ultrices posuere cubilia nullam ultrices ultrices felis maximus est elementum sed aliquam quis ipsum sit amet dui porttitor. iaculis phasellus tincidunt finibus magna, non cursus turpis ornare. </p>
                                        <div class="rst-theteam-skill">
                                            <p>web</p>
                                            <div class="progress">
                                                <div style="width: 97%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="97" role="progressbar" class="progress-bar progress-bar-success">
                                                    <span class="sr-only">40% Complete (success)</span>
                                                </div>
                                            </div>
                                            <p>development</p>
                                            <div class="progress">
                                                <div style="width: 95%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="95" role="progressbar" class="progress-bar progress-bar-success">
                                                    <span class="sr-only">40% Complete (success)</span>
                                                </div>
                                            </div>
                                            <p>optimization</p>
                                            <div class="progress">
                                                <div style="width: 85%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="85" role="progressbar" class="progress-bar progress-bar-success">
                                                    <span class="sr-only">40% Complete (success)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
									<div role="tabpanel" class="tab-pane fade" id="tabs1-5">
										<span>Tele Consultant</span>
										<h4> Sathya</h4>
										<p>Duis egestas diam odio laoreet dolor consequat in vestibulum ante ipsum primis in faucibus orci luctus ultrices posuere cubilia nullam ultrices ultrices felis maximus est elementum sed aliquam quis ipsum sit amet dui porttitor. iaculis phasellus tincidunt finibus magna, non cursus turpis ornare. </p>
										<div class="rst-theteam-skill">
											<p>web</p>
											<div class="progress">
												<div style="width: 90%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="90" role="progressbar" class="progress-bar progress-bar-success">
													<span class="sr-only">40% Complete (success)</span>
												</div>
											</div>
											<p>development</p>
											<div class="progress">
												<div style="width: 80%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar" class="progress-bar progress-bar-success">
													<span class="sr-only">40% Complete (success)</span>
												</div>
											</div>
											<p>optimization</p>
											<div class="progress">
												<div style="width: 88%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="88" role="progressbar" class="progress-bar progress-bar-success">
													<span class="sr-only">40% Complete (success)</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- The team -->
			
			<!-- Social bar -->
			<div class="rst-socials-bar">
				<div class="rst-social-item">
					<a href="#"><i class="fa fa-facebook"></i></a>	
				</div>
				<div class="rst-social-item">
					<a href="#"><i class="fa fa-twitter"></i></a>	
				</div>
				<div class="rst-social-item">
					<a href="#"><i class="fa fa-dribbble"></i></a>	
				</div>
				<div class="rst-social-item">
					<a href="#"><i class="fa fa-instagram"></i></a>	
				</div>
				<div class="rst-social-item">
					<a href="#"><i class="fa fa-behance"></i></a>	
				</div>
				<div class="clear"></div>
			</div>
			<!-- Social bar -->
			
		</section>
		<!-- Main page -->
		
	
		


