
@{
    Layout = "_Layout";
    ViewData["Title"] = "Contact";
}
<html lang="en">
  <head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact - addon Technologies</title>
   <meta name="description" content="Addon Technologies- Domestic Software company have products like Pawnbroker, Jewelery, General Store, SuperMarket, School, Hospital, College Management. 150+ Clients already using Tamilnadu, Andra Pradesh, Karnataka">
    <meta name="keywords" content="PawnBroker Software, Jewelery, General Store, SuperMarket, School, Hospital, College Management, Web, Designing">
    <meta name="author" content="Addon">
  
   
  </head>
  <body>
	
	<!-- Wrapper -->
      <div id="wrapper">



          <!-- Support Online -->
          <div id="rst-support-online" class="animated fadeIn">
              <form action="shortcodes.html" class="animated fadeInDownBig">
                  <header>
                      <p><i class="fa fa-comment-o"></i>Live Support Chat</p>
                      <a href="#"><i class="fa fa-times"></i></a>
                  </header>
                  <h6>You are chatting with <b>Support Team</b></h6>
                  <div class="rst-chat-content">
                      <ul>
                          <li>
                              <img class="img-circle" src="http://placehold.it/299x299" alt="" />
                              <p class="rst-name">Support Team</p>
                              <p class="rst-say">Duis vel tellus sed dolor sodales?</p>
                          </li>
                          <li>
                              <img class="img-circle" src="http://placehold.it/299x299" alt="" />
                              <p class="rst-name rst-you">You</p>
                              <p class="rst-say">Duis vel tellus sed dolor..</p>
                          </li>
                          <li>
                              <img class="img-circle" src="http://placehold.it/299x299" alt="" />
                              <p class="rst-name">Support Team</p>
                              <p class="rst-say">Duis vel tellus sed dolor sodales?</p>
                          </li>
                          <li>
                              <img class="img-circle" src="http://placehold.it/299x299" alt="" />
                              <p class="rst-name rst-you">You</p>
                              <p class="rst-say">Duis vel tellus sed dolor..</p>
                          </li>
                          <li>
                              <img class="img-circle" src="http://placehold.it/299x299" alt="" />
                              <p class="rst-name">Support Team</p>
                              <p class="rst-say">Duis vel tellus sed dolor sodales?</p>
                          </li>
                          <li>
                              <img class="img-circle" src="http://placehold.it/299x299" alt="" />
                              <p class="rst-name rst-you">You</p>
                              <p class="rst-say">Duis vel tellus sed dolor..</p>
                          </li>
                      </ul>
                  </div>
                  <div class="rst-chat-input">
                      <input type="text" name="support-message" id="support-message" placeholder="Type your message ..." />
                      <span class="btn btn-primary btn-file">
                          <img src="~/images/icon//livechat-submit.png" alt="" /><input type="file" name="support-upload" id="support-upload" />
                      </span>
                      <input type="submit" value="SEND" />
                  </div>
              </form>
          </div>
          <!-- Support Online -->
          @section BannerS
                {
          <!-- Banner content -->
          <div class="rst-banner-content">
              <div class="container">
                  <div class="">
                      <h5>Make your Support</h5>
                      <h1>Start Connect</h1>
                  </div>
              </div>
          </div>
          <!-- Banner content -->
          }

          

         

          <!-- Main page -->
          <section class="rst-contact-page">

              <!-- Breadcrumb bar -->
              <div class="rst-breadcrumb-bar">
                  <div class="container">
                      <div class="row">
                          <div class="col-sm-12 col-lg-6">
                              <p><b>250+</b> Customers</p>
                          </div>
                          <div class="col-sm-12 col-lg-6">
                              <ul class="breadcrumb">
                                  <li>
                                      <a href="~/Home/index">Home</a>
                                  </li>
                                  <li><span>Contact</span></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Breadcrumb bar -->
              <!-- Single Content -->
              <div class="rst-post-container">
                  <div class="container">
                      <div class="row">
                          <div class="col-sm-8">

                              <!-- Single Content -->
                              <div class="rst-single-content">
                                  <div class="rst-contact-form">
                                      <form method="post" action="submit.php" name="sentMessage" id="contactForm" novalidate>
                                          <div class="row">
                                              <div class="col-sm-12">
                                                  <h3>Contact Form</h3>
                                              </div>
                                              <div class="col-sm-6">
                                                  <div class="form-group">
                                                      <input class="text required" type="text" placeholder="Name" name="contact-name" id="contact-name" data-validation-required-message="Please enter your Name." />
                                                      <p class="help-block text-danger"></p>
                                                  </div>
                                                  <div class="form-group">
                                                      <input class="text required" type="text" placeholder="Subject" name="contact-subject" id="contact-subject" data-validation-required-message="Please enter your Subject." />
                                                      <p class="help-block text-danger"></p>
                                                  </div>
                                              </div>
                                              <div class="col-sm-6">
                                                  <div class="form-group">
                                                      <input class="text required email" type="email" placeholder="Email" name="contact-email" id="contact-email" data-validation-required-message="Please enter your Email." />
                                                      <p class="help-block text-danger"></p>
                                                  </div>

                                                  <div class="form-group">
                                                      <select name="contact-category" id="contact-category">
                                                          <option value="design">Design</option>
                                                          <option value="web">Web</option>
                                                          <option value="portfolio">Portfolio</option>
                                                      </select>
                                                      <p class="help-block text-danger"></p>
                                                  </div>

                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="col-xs-12 rst-contactsubmit">
                                                  <div class="form-group">
                                                      <textarea name="contact-message" id="contact-message" cols="30" rows="10" placeholder="Message" data-validation-required-message="Please enter your Message."></textarea> <!-- required data-validation-required-message="Please enter your message." -->
                                                      <p class="help-block text-danger"></p>
                                                      <div id="success"></div>
                                                  </div>
                                                  <input class="btn btn-primary btn-lg" type="submit" value="SUBMIT" />
                                              </div>
                                          </div>
                                      </form>
                                  </div>



                              </div>
                              <!-- Single Content -->

                          </div>
                          <div class="col-sm-4">
                              <div class="rst-sidebar rst-sidebar-right">
                                  <aside>
                                      <div class="widget widget_popular">
                                          <h3>Search</h3>
                                          <form class="rst-search-form rst-search" action="shortcodes.html">
                                              <input type="text" name="s" placeholder="Search ...">
                                              <button class="sb" type="submit"><i class="fa fa-search"></i></button>
                                          </form>
                                          <div class="rst-popular-video">
                                              <ol>
                                                  <li><a href="article-single.html">Where do I Begin?</a></li>
                                                  <li><a href="article-single.html">How do I create a free account?</a></li>
                                                  <li><a href="article-single.html">How do I raise a support?</a></li>
                                                  <li><a href="article-single.html">What is Wordpress?</a></li>
                                                  <li><a href="article-single.html">How do I delete a free account?</a></li>
                                              </ol>
                                          </div>
                                      </div>
                                  </aside>
                                  <aside>
                                      <div class="widget widget_info">
                                          <h3>Info</h3>
                                          <ul>
                                              <li><span>Opp. to Balaji(Aascars) Theatre, </span></li>
                                              <li><span>near Indian Overseas Bank, </span></li>
                                              <li><span>Katpadi, Vellore, Tamil Nadu 632007</span></li>
                                              <li><a href="tel:9894496128">+91 98 944 96128</a></li>
                                              <li><a href="mailto:tamilselvan.addon@gmail.com">tamilselvan.addon@gmail.com</a></li>
                                          </ul>
                                      </div>
                                  </aside>
                              </div>
                          </div>
                      </div>

                  </div>

                  <!-- Custom map -->
                  <section id="cd-google-map">
                      <div id="google-container"></div>
                  </section>
                  <!-- Custom map -->

              </div>
              <!-- Single Content -->
              <!-- Social bar -->
              <div class="rst-socials-bar">
                  <div class="rst-social-item">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                  </div>
                  <div class="rst-social-item">
                      <a href="#"><i class="fa fa-twitter"></i></a>
                  </div>
                  <div class="rst-social-item">
                      <a href="#"><i class="fa fa-dribbble"></i></a>
                  </div>
                  <div class="rst-social-item">
                      <a href="#"><i class="fa fa-instagram"></i></a>
                  </div>
                  <div class="rst-social-item">
                      <a href="#"><i class="fa fa-behance"></i></a>
                  </div>
                  <div class="clear"></div>
              </div>
              <!-- Social bar -->

          </section>
          <!-- Main page -->



      </div>
	<!-- Wrapper -->
	
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="js/jquery-1.11.3.js"></script>
  
    <!-- Bootstrap Js Compiled Plugins -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
	
	<!-- WoW Js -->
    <script type="text/javascript" src="js/wow.min.js"></script>
	
	<!-- Add Fancybox -->
	<script type="text/javascript" src="js/fancybox/jquery.fancybox.js?v=2.1.5"></script>
	<script type="text/javascript" src="js/fancybox/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
	
	<!-- Owl Slider Js -->
    <script type="text/javascript" src="js/owl.carousel.js"></script>
	
	<!-- Validation Js -->
    <script type="text/javascript" src="js/jquery.validate.js"></script>
	
	<!-- Custom Google Maps js -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgGyzOzpWh_mTpdx-UPt92W6GI8hE7P3M"></script>
	
	<!-- Custom scroll bar js -->
	<script type="text/javascript" src="js/jquery.mCustomScrollbar.concat.min.js"></script>	
	
	<!-- Custom dropdown input js -->
	<script type="text/javascript" src="js/jquery.ddslick.min.js"></script>
	<script type="text/javascript" src="js/countrySelect.js"></script>
	
	<!-- Hoverdir js -->
	<script type="text/javascript" src="js/jquery.hoverdir.js"></script>	
	<script type="text/javascript" src="js/modernizr.js"></script>	
	
    <!-- Custom Js -->
	<script type="text/javascript" src="js/jqBootstrapValidation.js"></script>
	<script type="text/javascript" src="js/custom-form-elements.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
	<script type="text/javascript" src="js/jquery.counterup.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
  m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-70165539-1', 'auto');
            ga('send', 'pageview');

</script>

  </body>
</html>